.jumbo-search {
    background-color:#acbacc;
    height: 200px;   
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.btn-search {
   font-size: 1.5rem;
   padding: 15px 105px;
   margin-left: 25px;
}

.form-search { 
    font-size: 1.9rem;
    margin-left: 20px;
   
}




