<div class="jumbotron mt-5">
    <form (ngSubmit)="searchImages()">
        <div class="row jumbo-search">
            <div class="col-lg-8">
                <input type="text" class="form-control form-control-lg form-search" [(ngModel)]="imageName"
                       name="img" placeholder="Busca una imagen...">
            </div>
            <div class="col-lg-4">
                <button type="submit" class="btn btn-secondary btn-search">Buscar</button>
            </div>
        </div>
    </form>
</div>